<link rel="stylesheet" href="../css/chat.css">
<div id="navbar">
    <div id="imagen">
        <img src="../img/Logo.jpg" />
    </div>
    <div>
        <h1>Consultorio Libertad</h1>
    </div>
    <div id="out">
        <a href="/login/outSession">Cerrar Sesion</a>
    </div>
</div>
<div id="main">
    <div id="container"></div>
</div>
<div id="mensajero">
    <input type="text" name="message" id="message" placeholder="send a message">
</div>
<script src="../js/comunications/chat.js"></script>
<script src="../js/animations/chat.js"></script>