<link rel="stylesheet" href="../css/login.css">
<div id="navbar">
    <div id="imagen">
        <img src="../img/Logo.png" />
    </div>
    <div>
        <h1>Consultorio Libertad</h1>
    </div>

</div>
<div id="main">
    <div id="container">
        <h2>Login</h2>
        <form id="forms">
            <div class="inputs">
                <p>Email</p><input type="text" name="email" id="email" required>
            </div>
            <br>
            <div class="inputs">
                <p>Password</p><input type="password" name="password" id="password" required>
            </div>
            <button>Iniciar Sesion</button>
        </form>
        <p>No tienes cuenta? <a href="/registration">Registrate Aqui</a></p>
    </div>

</div>
<script src="../js/comunications/login.js"></script>